 .product__item__pic{
    height: 250px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(158 143 143 / 16%);

}
.myimage{
  
}
.product__item{
}
/* .product__item__pic img{
    max-height: 240px;
    object-fit: contain;
}  */
.cartimage img{
    object-fit: contain;
    max-height: 170px;
    max-width: 200px;
}
.carouselimg{
    width: 100%;
    max-height: 300px;
}
.carouselimg img{
    height: 250px;
    object-fit: contain;
}
.price{
    font-weight: 700;
    color: black;
}
.para{
    font-weight: 800;
    font-size: 15px;
    color: black;
}
.carouselimg img:hover{
    
        opacity: 0.3;
        transition: .5s;
    
}
.product__discount__item{
    /* width: 210px;height: 352px !important; */
}
.mycolumn{
    width: 240px;height: 392px;
}